/**
* Created by PHP Storm
* Author: Don Cameron
* File Type: SCSS
* Date: 7/22/2022
* Time: 11:36 AM
*/

.products-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 10px;
  row-gap: 50px;
}