/**
* Created by PHP Storm
* Author: Don Cameron
* File Type: SCSS
* Date: 7/13/2022
* Time: 9:18 PM
*/
.authentication-container{
  display: flex;
  width: 900px;
  justify-content: space-between;
  margin: 30px auto;
}